<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssistApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AssistApp.Properties.Settings>
            <setting name="OllamaURL" serializeAs="String">
                <value>http://127.0.0.1:11434</value>
            </setting>
            <setting name="Model" serializeAs="String">
                <value>llama3.2:latest</value>
            </setting>
            <setting name="CopyPasteDelay" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="P0_SystemPrompt" serializeAs="String">
                <value>Fix spelling of the following text and only return the fixed text without any additional quotes, explanations, or formatting: [TEXT]</value>
            </setting>
            <setting name="P0_HotKey" serializeAs="String">
                <value>CTRL+SHIFT+Q</value>
            </setting>
            <setting name="P1_HotKey" serializeAs="String">
                <value>CTRL+SHIFT+W</value>
            </setting>
            <setting name="P1_SystemPrompt" serializeAs="String">
                <value>Fix spelling and wording of the following text and only return the fixed text without any additional quotes, explanations, or formatting: [TEXT]</value>
            </setting>
        </AssistApp.Properties.Settings>
    </applicationSettings>
</configuration>